block content
  div.row.h-100.py-0.m-0
    div.col-2.h-100.py-3.pl-3.pr-1
      img(src='images/shelly-devices/'+imageName, width='100%', style="'object-fit': 'cover'")
    div.col-10.p-2.h-100
      div.container-fluid.h-100.px-0.table-responsive
        div.card-columns
          //- https://disjfa.github.io/bootstrap-tricks/card-collapse-tricks/
          div.card.mb-3.bg-transparent.shellydetailcard
            .card-header.px-3.pb-1.pt-2
              a#heading-detail-general.d-block(data-toggle='collapse' href='#detail-general' aria-expanded='true' aria-controls='detail-general')
                i.fa.fa-chevron-down.fa-pull-right
                | General info
            #detail-general.collapse.show(aria-labelledby='heading-detail-general')
              .card-body.px-0.pt-2.pb-1
                div.row.mx-0.shellydetail.small
                  each value, key in { '_coapsettings.name': 'Device name:', 'id': 'Shelly ID:', 'type': 'Shelly Type:', 'modelName': 'Shelly Model:', 'shelly.mac': 'MAC address:', '_coapsettings.wifirecovery_reboot_enabled': 'No WiFi reboot:', '_coapsettings.factory_reset_from_switch': 'Reset from switch:', '_coapsettings.debug_enable': 'Debug enabled:'}
                    dt.col-5= value
                    dd.col-7!= getShellyDetail(shelly, key)

          div.card.mb-3.bg-transparent.shellydetailcard
            .card-header.px-3.pb-1.pt-2
              a#heading-detail-network.d-block(data-toggle='collapse' href='#detail-network' aria-expanded='true' aria-controls='detail-network')
                i.fa.fa-chevron-down.fa-pull-right
                | Network info
            #detail-network.collapse.show(aria-labelledby='heading-detail-network')
              .card-body.px-0.pt-2.pb-1
                div.row.mx-0.shellydetail.small
                  each value, key in { '_coapstatus.wifi_sta.ip': 'IP address:', '_coapsettings.device.hostname': 'Hostname:', '_coapsettings.discoverableip': 'Is discoverable?:'}
                    dt.col-5= value
                    dd.col-7!= getShellyDetail(shelly, key)

          div.card.mb-3.bg-transparent.shellydetailcard
            .card-header.px-3.pb-1.pt-2
              a#heading-detail-firmware.d-block(data-toggle='collapse' href='#detail-firmware' aria-expanded='true' aria-controls='detail-firmware')
                i.fa.fa-chevron-down.fa-pull-right
                | Firmware
            #detail-firmware.collapse.show(aria-labelledby='heading-detail-firmware')
              .card-body.px-0.pt-2.pb-1
                div.row.mx-0.shellydetail.small
                  each value, key in { '_coapsettings.fw': 'Current Firmware:', '_coapsettings.build_info.build_timestamp': 'Build time:', '_coapsettings.build_info.build_version': 'Build version:', '_coapstatus.update.has_update': 'Update available:', '_coapstatus.update.new_version': 'Version available:', '_coapstatus.update._coapstatus': 'Update status:'}
                    dt.col-5= value
                    dd.col-7!= getShellyDetail(shelly, key)

          div.card.mb-3.bg-transparent.shellydetailcard
            .card-header.px-3.pb-1.pt-2
              a#heading-detail-hardware.d-block(data-toggle='collapse' href='#detail-hardware' aria-expanded='true' aria-controls='detail-hardware')
                i.fa.fa-chevron-down.fa-pull-right
                | Hardware
            #detail-hardware.collapse.show(aria-labelledby='heading-detail-hardware')
              .card-body.px-0.pt-2.pb-1
                div.row.mx-0.shellydetail.small
                  each value, key in { '_coapstatus.ram_total': 'Total RAM:', '_coapstatus.ram_free': 'Free RAM:', '_coapstatus.fs_size': 'File system size:', '_coapstatus.fs_free': 'File system free:', '_coapstatus.uptime': 'Hardware uptime:', '_coapsettings.hwinfo.hw_revision': 'Hardware revision:', '_coapsettings.hwinfo.batch_id': 'Hardware batch ID:'}
                    dt.col-5= value
                    dd.col-7!= getShellyDetail(shelly, key)

          div.card.mb-3.bg-transparent.shellydetailcard
            .card-header.px-3.pb-1.pt-2
              a#heading-detail-security.d-block(data-toggle='collapse' href='#detail-security' aria-expanded='true' aria-controls='detail-security')
                i.fa.fa-chevron-down.fa-pull-right
                | Security
            #detail-security.collapse.show(aria-labelledby='heading-detail-security')
              .card-body.px-0.pt-2.pb-1
                div.row.mx-0.shellydetail.small
                  each value, key in { '_coapsettings.login.enabled': 'Login enabled:', '_coapsettings.login.unprotected': 'Password protected:', '_coapsettings.login.username': 'User name:'}
                    dt.col-5= value
                    dd.col-7!= getShellyDetail(shelly, key)

          div.card.mb-3.bg-transparent.shellydetailcard
            .card-header.px-3.pb-1.pt-2
              a#heading-detail-wireless.d-block(data-toggle='collapse' href='#detail-wireless' aria-expanded='true' aria-controls='detail-wireless')
                i.fa.fa-chevron-down.fa-pull-right
                | Wireless
            #detail-wireless.collapse.show(aria-labelledby='heading-detail-wireless')
              .card-body.px-0.pt-2.pb-1
                div.row.mx-0.shellydetail.small
                  each value, key in { '_coapsettings.wifi_ap.enabled': 'Access point enabled:', '_coapsettings.wifi_ap.ssid': 'Access point SSID:', '_coapsettings.wifi_ap.key': 'Access point key:', '_coapsettings.wifi_sta.enabled': 'Wifi network 1 enabled:', '_coapsettings.wifi_sta.ssid': 'Wifi network 1 SSID:', '_coapsettings.wifi_sta.ipv4_method': 'Wifi network 1 IP:', '_coapsettings.wifi_sta1.enabled': 'Wifi network 2 enabled:', '_coapsettings.wifi_sta1.ssid': 'Wifi network 2 SSID:', '_coapsettings.wifi_sta1.ipv4_method': 'Wifi network 2 IP:', '_coapsettings.ap_roaming.enabled': 'Wifi roaming enabled:', '_coapsettings.ap_roaming.threshold': 'Wifi roaming threshhold:'}
                    dt.col-5= value
                    dd.col-7!= getShellyDetail(shelly, key)

          div.card.mb-3.bg-transparent.shellydetailcard
            .card-header.px-3.pb-1.pt-2
              a#heading-detail-mqtt.d-block(data-toggle='collapse' href='#detail-mqtt' aria-expanded='true' aria-controls='detail-mqtt')
                i.fa.fa-chevron-down.fa-pull-right
                | MQTT
            #detail-mqtt.collapse.show(aria-labelledby='heading-detail-mqtt')
              .card-body.px-0.pt-2.pb-1
                div.row.mx-0.shellydetail.small
                  each value, key in { '_coapstatus.mqtt.connected': 'MQTT Connected', '_coapsettings.mqtt.enable': 'MQTT Enabled', '_coapsettings.mqtt.server': 'MQTT Server', '_coapsettings.mqtt.user': 'MQTT User', '_coapsettings.mqtt.clean_session': 'MQTT Clean session', '_coapsettings.mqtt.keep_alive': 'MQTT Keep alive', '_coapsettings.mqtt.max_qos': 'MQTT QoS', '_coapsettings.mqtt.retain': 'MQTT Retain', '_coapsettings.mqtt.update_period': 'MQTT Update period', '_coapsettings.mqtt.reconnect_timeout_min': 'MQTT Min timeout', '_coapsettings.mqtt.reconnect_timeout_max': 'MQTT Max timeout'}
                    dt.col-5= value
                    dd.col-7!= getShellyDetail(shelly, key)

          div.card.mb-3.bg-transparent.shellydetailcard
            .card-header.px-3.pb-1.pt-2
              a#heading-detail-power.d-block(data-toggle='collapse' href='#detail-power' aria-expanded='true' aria-controls='detail-power')
                i.fa.fa-chevron-down.fa-pull-right
                | Battery and power saving
            #detail-power.collapse.show(aria-labelledby='heading-detail-power')
              .card-body.px-0.pt-2.pb-1
                div.row.mx-0.shellydetail.small
                  each value, key in { '_coapsettings.device.sleep_mode': 'Sleep mode:', '_coapsettings.sleep_mode.period': 'Sleep period:', '_coapsettings.sleep_mode.unit': 'Sleep period units:', '_coapsettings.remain_awake': 'Remain awake:', '_coapstatus.bat.value': 'Battery remaining:', '_coapstatus.bat.voltage': 'Battery voltage:', '_coapstatus.charger': 'Is charging:'}
                    dt.col-5= value
                    dd.col-7!= getShellyDetail(shelly, key)

          div.card.mb-3.bg-transparent.shellydetailcard
            .card-header.px-3.pb-1.pt-2
              a#heading-detail-raw.d-block.collapsed(data-toggle='collapse' href='#detail-raw' aria-expanded='true' aria-controls='detail-raw')
                i.fa.fa-chevron-down.fa-pull-right
                | Raw data
            #detail-raw.collapse(aria-labelledby='heading-detail-raw')
              .card-body.px-0.pt-2.pb-1
                div.row.mx-0.shellydetail.small
                  code= JSON.stringify(shelly, null, 4)

